<div class="jumbotron center">
     <h1>Welcome to Danke!</h1>
     <% if user_signed_in? %>

          <%= link_to "Create New Post", new_post_path, class: "btn btn-default btn-lg" %>
          <%= link_to "See My Posts", new_post_path, class: "btn btn-default btn-lg" %>
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", user_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>